.user_nav
  - if current_user
    Signed in as
    = current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    = link_to "Sign in with Github", "/auth/github", id: "sign_in"
