//= depend_on_asset "scr_script.png"

 @import "bourbon";
 @import "neat";
 @import "set";

main {
  @include outer-container;
  padding: 1rem;
}

.is-hidden { display: none; }

.collect--getStarted {
  font-size: 1.25rem;
  text-align: center;
  a {
    color: $red;
    &:hover, &:active, &:visited { color: $red; }
  }
}

.logo {
  display: block;
  width: 500px;
  height: 87px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(asset_path('scr_script.png')) no-repeat left top;
  background-size: cover; // For SVGs
}

.content {
  background: $white;
  border: 1px solid #bbb;
  box-shadow: 0 0 3px #aaa;
  margin: .25rem 0 1rem;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

.user_nav {
  text-align: right;
}

.blind {
  border-bottom: 5px dashed $yellow;
  clear: both;
  overflow: auto;
  margin: 1rem 0;

  h4 {
    border-bottom: 1px solid $yellow;
    margin-bottom: 1rem;
  }
}

.info {
  clear: both;
  font-style: italic;
  .required {
    color: $red;
  }
}

/*this is for editing events*/
.input {
  textarea{
    display:block;
    width:100%;
    height:25em;
  }
}

.errors {
  border: 2px solid $red;
  margin: 1rem;
  @include media(790px) {
    @include span-columns(10);
    @include shift(1);
  }
  h4 {
    background: $red;
    color: $white;
    margin: 0;
    padding: .5rem;
  }
  ul {
    padding: .5rem;
  }
  li {
    margin: .25rem 0;
    span { font-weight: 500; }
  }
}

.question {
  @include span-columns(12);
  margin-bottom: 2rem;

  @include media(790px) {
    &.other { @include span-columns(6); @include omega(2n); }
    &.large { @include span-columns(12); }
    &.small { @include span-columns(4.5); }
  }

  label {
    display: block;
    font-weight: 700;
    &.radio {
      font-weight: 300;
      float: left;
      margin: 0 1rem 0 0;
    }
    &.required::before {
      content: "* ";
      color: red;
    }
    input {
      height: auto;
      width: auto;
      margin: 0 .25rem 0 0;
    }
  }

  input {
    width: 100%;
    height: 2rem;
    padding: .25rem;
  }

  textarea {
    height: 10rem;
    width: 100%;
    padding: .25rem;
  }
}

.review_proposal {
  margin: 2rem 0;
  .blind { border: none; }
}

.response {
  @include media(790px) {
    @include span-columns(10);
    @include shift;
  }

  h5 {
    clear: both;
    a {
      font-size: .6rem;
    }
  }

  .value {
    @include span-columns(12);
  }
}

.event_info {
  @include media(790px) {
    @include span-columns(10);
    @include shift(1);
  }
  .required { color: $red; }
  ol {
    list-style: lower-roman outside;
    margin: 0 5rem 0 3rem;
  }
}

.proposal_list {
  h4 {
    margin: 0 0 1rem;
  }
  li {
    list-style-position: outside;
    margin: .5rem 0 0 2rem;
  }
  span {
    font-size: .8em;
  }
  .slug {
    @include type-code;
  }
  .destroy {
    font-style: italic;    
  }
  .updated {
    color: #ccc;
    display: block;
  }
  .notes {
    font-style: italic;
  }
}

#notes {
  background: $white;
  position: fixed;
  right: 1rem;
  bottom: 0;
  border: 1px solid #222;
  width: 20rem;
  .submit {
    padding: .25rem;
    overflow: auto;
    background: #ccc;
  }
  h4 {
    background: $yellow;
    cursor: pointer;
    border-bottom: 2px solid #222;
    padding: .25rem;
  }
  textarea {
    width: 100%;
    display: block;
    height: 8rem;
    padding: .25rem;
  }
  input[type=submit] {
    display: block;
    float: right;
  }
  .status {
    float: left;
    width: 50%;
    font-size: .8rem;
    &.saving { color: $yellow; }
    &.error  { color: $red; }
    &.saved  { color: green; }
  }
}

.scrubber {
  @include span-columns(6);
  clear: both;
  display: none;

  &.is-visible { display: block; }

  input {
    @include span-columns(3);
  }
  textarea {
    @include span-columns(12);
  }
}

