// Variables
$yellow: #ffcc2f;
$black:  #171d1e;
$white:  #fff;
$red:    rgb(221,55,22);
$color-text: #222;


//Mixins
@mixin type-body {
  color: $color-text;
  font: normal normal 16px/1.4 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

@mixin type-code {
  font: normal normal 1rem "Courier New", Courier, sans-serif;
}
